html { 
    background: url(https://i.pinimg.com/564x/01/fb/74/01fb7433be852ff24d5581a261aa505b.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:60% 60%;
}

p {
    color: white;
    font-size: 20px;
    margin-top: 2cm;
    
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
}

ul {
      list-style-type: none;
      margin: 0;
      padding: 12px 14px;
      overflow: hidden;
      margin-top: 4cm;
      font-size: 30px;
}
li {
      float: center;
      font-family: "Lucida Console", "Courier New", monospace;
    }
li a {
      display: block;
      color: white;
      text-align: center;
      padding: 10px;
      text-decoration: none;
}
